src/main/resources/wsdl/HelloWorldImpl_schema1.xsd

<xs:schema xmlns:tns="http://cxfdemo.nav.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified" targetNamespace="http://cxfdemo.nav.com/" version="1.0">

  <xs:element name="sayHi" type="tns:sayHi"/>

  <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>

  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
